.bg {
    background-image: url("https://media.gettyimages.com/photos/marina-beach-salmiya-picture-id949496572?s=612x612");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }